<%- include("partials/header"); -%>
<h1>Home</h1>
<p> <%= startingContent %> </p>


<%  posts.forEach(function(post){ %>
<div class="row">

        <div class="card">
            <div class="card-body">
                <div style="display:inline-block;">
                    <h2 class="card-title fancy-link"><%=post.title%></h2>
                </div>
                <h6 class="card-subtitle mb-2 text-muted"><%=post.category%></h6>
                <p class="card-text">
                    <%=post.content.substring(0, 100) + " ..."%>
                </p>
                <a class="btn btn-primary" href="/posts/<%=post._id%>">Read More</a>


            </div>

    </div>
</div>
<% }) %>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item disabled  bd-highlight">
      <a class="page-link " href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-arrow-circle-left"></i>Previous</a>
    </li>
    <li class="page-item next-button  bd-highlight">
      <a class="page-link " href="#">Next<i class="fas fa-arrow-circle-right"></i></a>
    </li>
  </ul>
</nav>


<%- include("partials/footer"); -%>
